/* ==========================================================================
   Title styles - begin
   ========================================================================== */
/* ==========================================================================
   Title style - begin
   ========================================================================== */
.mkdf-title-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 240px;
  background-color: #f6f6f6;
  background-position: center 0;
  background-repeat: no-repeat;
  z-index: 101;
}

.mkdf-title-holder.mkdf-title-full-width .mkdf-grid {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-title-holder.mkdf-bg-responsive {
  height: auto !important;
}

.mkdf-title-holder.mkdf-bg-responsive .mkdf-title-image {
  display: block;
}

.mkdf-title-holder.mkdf-bg-responsive .mkdf-title-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-title-holder.mkdf-bg-parallax {
  background-attachment: fixed;
}

.mkdf-title-holder .mkdf-title-image {
  display: none;
}

.mkdf-title-holder .mkdf-title-image img {
  display: block;
  width: 100%;
}

.mkdf-title-holder .mkdf-title-wrapper {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.mkdf-title-holder .mkdf-title-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

/* ==========================================================================
   Title style - end
   ========================================================================== */
/* ==========================================================================
   Breadcrumbs Title type style - begin
   ========================================================================== */
.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  color: #808080;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs.mkdf-has-inline-style a {
  opacity: 1;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs.mkdf-has-inline-style a:hover {
  color: inherit;
  opacity: 0.9;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs a,
.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "Heebo", sans-serif;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #ed1d24;
  font-size: 11px;
  letter-spacing: .075em;
  color: #000;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs a:hover {
  color: #ed1d24;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-breadcrumbs span.mkdf-current {
  color: #ed1d24;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-delimiter {
  position: relative;
}

.mkdf-title-holder.mkdf-breadcrumbs-type .mkdf-delimiter:after {
  content: '';
  position: relative;
  display: inline-block;
  margin: 0 19px;
  vertical-align: middle;
  width: 26px;
  height: 1px;
  top: -1px;
  left: 0;
  background-color: #000;
}

/* ==========================================================================
   Breadcrumbs Title type style - end
   ========================================================================== */
/* ==========================================================================
   Centered Title type style - begin
   ========================================================================== */
.mkdf-title-holder.mkdf-centered-type .mkdf-title-inner {
  text-align: center;
}

.mkdf-title-holder.mkdf-centered-type .mkdf-page-title {
  margin: 0;
}

.mkdf-title-holder.mkdf-centered-type .mkdf-page-subtitle {
  font-family: "Heebo", sans-serif;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #ed1d24;
  font-size: 14px;
  letter-spacing: .8em;
  display: block;
  margin: 0 0 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   Centered Title type style - end
   ========================================================================== */
/* ==========================================================================
   Standard With Breadcrumbs Title type style - begin
   ========================================================================== */
.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-title-info,
.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs-info {
  display: table-cell;
  vertical-align: middle;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-title-info {
  width: 99%;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs-info {
  width: 1%;
  text-align: right;
  white-space: nowrap;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-page-title {
  margin: 0;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-page-subtitle {
  font-family: "Heebo", sans-serif;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #ed1d24;
  font-size: 14px;
  letter-spacing: .8em;
  margin: 0 0 19px;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs {
  color: #808080;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs.mkdf-has-inline-style a {
  opacity: 1;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs.mkdf-has-inline-style a:hover {
  color: inherit;
  opacity: 0.9;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs a,
.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "Heebo", sans-serif;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #ed1d24;
  font-size: 11px;
  letter-spacing: .075em;
  color: #000;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs a:hover {
  color: #ed1d24;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-breadcrumbs span.mkdf-current {
  color: #ed1d24;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-delimiter {
  position: relative;
}

.mkdf-title-holder.mkdf-standard-with-breadcrumbs-type .mkdf-delimiter:after {
  content: '';
  position: relative;
  display: inline-block;
  margin: 0 19px;
  vertical-align: middle;
  width: 26px;
  height: 1px;
  top: -1px;
  left: 0;
  background-color: #000;
}

/* ==========================================================================
   Standard With Breadcrumbs Title type style - end
   ========================================================================== */
/* ==========================================================================
   Standard Title type style - begin
   ========================================================================== */
.mkdf-title-holder.mkdf-standard-type .mkdf-page-title {
  margin: 0;
}

.mkdf-title-holder.mkdf-standard-type .mkdf-page-subtitle {
  font-family: "Heebo", sans-serif;
  line-height: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  color: #ed1d24;
  font-size: 14px;
  letter-spacing: .8em;
  margin: 0 0 19px;
}

/* ==========================================================================
   Standard Title type style - end
   ========================================================================== */
/* ==========================================================================
   Title styles - end
   ========================================================================== */

/*# sourceMappingURL=title-map.css.map */
